nav {
	background: #BCF;
	overflow: auto;
}
nav ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: .5em;
}
nav ul.external {
	float: right;
}
nav li {
	display: inline-block;
	margin: 0;
	padding: .5em;
}
nav li.active {
	background: #FFF;
}
@media print {
	nav {
		display: none;
	}
}
