.webaudio-starter {
	.options-output {
		@inter-option-margin: .3em;
		@label-margin: 15em;
		@drag-control-width: 1em;
		margin: 1em 0;
		.option {
			margin: @inter-option-margin 0 @inter-option-margin @label-margin;
			&.void {
				margin-left: 1em;
			}
			label:first-child {
				margin-left: -@label-margin;
				display: inline-block;
				width: @label-margin;
				text-align: right;
			}
			.min {
				display: inline-block;
				width: 4em;
				text-align: right;
			}
			.max {
				display: inline-block;
				width: 4em;
				text-align: left;
			}
			input[type="number"] {
				width: 4.5em;
			}
			input[type="text"] {
				width: 30em;
			}
			input:invalid {
				background: #F8A;
			}
		}
		.draggable-with-handle {
			position: relative;
			margin: @inter-option-margin @drag-control-width;
			&.ghost {
				opacity: .4;
			}
			.option {
				margin-top: 0;
				margin-bottom: 0;
			}
			[draggable], .delete {
				position: absolute;
				top: 0;
				bottom: 0;
				width: @drag-control-width;
			}
			[draggable] { // drag handle
				left: -@drag-control-width;
				cursor: move;
				// http://www.patternify.com/
				background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAGUlEQVQYlWNgIAYYGxv/J4SJMog4MFStAwDfUCsJGefs4gAAAABJRU5ErkJggg==) center no-repeat, url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAF0lEQVQYlWNgIBZ0dHT8J8SmIhiK1gEAJMkXUFw51ewAAAAASUVORK5CYII=) center;
			}
			.delete {
				right: -@drag-control-width;
				cursor: default;
				border: dotted 1px #888;
				// http://www.patternify.com/
				background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAJklEQVQYlWNgIBYYGxv/J0ocXQCXRrgETgUETSDaJIJuItp3+AAAbDIUubYyZeYAAAAASUVORK5CYII=) center no-repeat;
			}
		}
	}
	.code-output {
		margin: 1em 0;
		.code {
			pre {
				border: solid 1px #000;
			}
			p {
				border: solid 1px #444;
				color: #444;
				padding: 0.5em;
			}
		}
		details {
			display: block;
			margin: 1em 0;
		}
	}
	.tip-warn {
		@icon-size: 1.3em;
		@icon-border: 1px;
		@icon-background: #FF8;
		display: inline-block;
		position: relative;
		width: @icon-size;
		height: @icon-size;
		border: solid @icon-border black;
		border-radius: @icon-size/2;
		background: @icon-background;
		color: #333;
		font-family: sans-serif;
		font-size: 0.8em;
		.tip-content {
			display: none;
			kbd {
				font-size: 1.25em;
			}
		}
		&:hover .tip-content {
			display: block;
			position: absolute;
			top: -@icon-border;
			left: -@icon-border;
			padding: @icon-size/2;
			border: solid 1px black;
			border-radius: @icon-size/2;
			background: @icon-background;
			width: 20em;
		}
		&::before {
			display: inline-block;
			content: '!';
			width: @icon-size;
			height: @icon-size;
			text-align: center;
		}
	}
}
